@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700;800&display=swap');
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

/* h3 {
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
} */

.hole {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .8);
  }